<link rel="stylesheet" href="/css/HeaderStu.css">
<header>
    <nav class="fixed-top navbar navbar-expand-lg navbar-light bg-dark text-light" style="font-size: 2rem;">
    
        <a class="navbar-brand" href="https://www.pec.ac.in/" target="_blank"><img src="/images/pecLOGO.png" alt="logo"></a>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav mr-auto" id="linkcolor">       
                <li class="nav-item">
                    <a class="nav-link" href="/users/home">Dashboard</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">My Courses</a>
                </li>
            </ul>

            <ul class="nav nav-item navbar-nav navbar-right" id='linkcolor'>
                <li class="popover-region popover-region-notifications" data-region="popover-region">
                    <div class="popover-region-toggle nav-link" data-region="popover-region-toggle" aria-role="button"  aria-haspopup="true" aria-label="Hide notification window" tabindex="0" id="noty">
                                <i class="icon fa fa-bell fa-fw " aria-hidden="true" title="Toggle notifications menu" aria-label="Toggle notifications menu" ></i>
                    </div>
                </li> 
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="menuitem" data-toggle="dropdown" area-haspopup="true" aria-expanded="false">
                        <span class = "userbutton">
                            <span class="usertext mr-1"> <%= name %></span>
                            <span class="avatars">
                                <img src="/images/my-image.jpg" alt="Profile Picture of Aayush Garg" title="Profile Picture of Aayush Garg" class="userpicture defaultuserpic" role="presentation" style="width: 4.6rem;">
                            </span>
                        </span>
                    </a>
                    <div class="dropdown-menu py-3" aria-labelledby="navbarDropdown" role="menu" data-align="tr-br" style="font-size: 2rem;">

                        <a href="/users/profile" class="dropdown-item py-2" role="menuitem" data-title="profile" >
                                <i class="icon fa fa-user fa-fw " aria-hidden="true" title="Profile" aria-label="Profile"></i>
                            <span class="menu-action-text">
                                Profile
                            </span>
                        </a>

                        <a href="/users/signout" class="dropdown-item py-2" role="menuitem" data-title="Sign out" >
                            <i class="fas fa-sign-out-alt" aria-hidden="true" title="Sign out" aria-label="Signout"></i>
                        <span class="menu-action-text">
                            Sign Out
                        </span>
                        </a>

                        <a href="#" class="dropdown-item py-2" role="menuitem" data-title="Account Settings" >
                            <i class="fas fa-user-cog" aria-hidden="true" title="Account Settings" aria-label="Account Settings"></i>
                        <span class="menu-action-text">
                            Account Settings
                        </span>
                        </a>

                    </div>
                </li>     
            </ul>

        </div>
        
    </nav>
    <div class="container-fluid" id="head" style="margin-top: 9rem;">
        <div class="jumbotron">
            <div class="row">
                <div class=" col-md-6 col-sm-12 row">
                    <div class="thumbnail pl-3">
                        <img src="/images/my-image.jpg">
                    </div>
                    <span id="profileName" class="px-5"><%= name %></span>
                </div>
                <div class="col-md-6 col-sm-12 row py-0">
                    <div class="card" style="max-height: 0;">
                        <div class="card-body">                          
                            <h1 class="card-title">User Info.</h1>
                            <h2 class="card-subtitle mb-2 text-muted"><%= id%></h2>
                            <h2 class="card-subtitle mb-2 text-muted"><%= email%></h2>
                            <h2 class="card-subtitle mb-2 text-muted"><%= phone_no%></h2>
                            <h2 class="card-subtitle mb-2 text-muted"><%= department_name%></h2>

                        <a href="/users/profile" class="card-link" style="font-size: 2rem;">Profile</a>
                        </div>
                    </div>
                </div>
            </div>                
        </div>
    </div>

</header>